<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--    要让 spring容器给我创建一个person对象-->
    <!--    配置类名，用于反向创建对象-->
    <!--    同时给一个编号方便查找-->
    <bean id="person" class="com.lgl.domain.Person" />

    <bean id="person2" class="com.lgl.domain.Person" >
        <property name="id" value="10"/>
        <property name="name" value="rose"/>
        <property name="age" value="20"/>
    </bean>

    <bean id="date1" class="java.util.Date"/>
    <bean id="person3" class="com.lgl.domain.Person" >
        <constructor-arg name="id" value="10"/>
        <constructor-arg name="name" value="hello"/>
        <constructor-arg name="age" value="20"/>
        <constructor-arg name="birthday" ref="date1"/>
    </bean>


    <context:component-scan base-package="com.lgl"/>

</beans>
